
footer {
    width: 100%;
    margin: 0 auto;
    padding: 2% 3%;
    background-color: #f9f9f9;
}

footer col {
    flex: 1;
}

.footer-content {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-container img {
    border-radius: 50%;
    width: 60px;
}

.col:first-child h5 {
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.col:first-child :where(h5 span, p) {
    color: rgb(68, 9, 9);
    font-weight: 600;
    line-height: 10px;
}

.col:first-child p {
    font-size: 20px;
}

.col:first-child input {
    outline: none;
    border: none;
    border-bottom: 1px solid #333232;
    background-color: transparent;
    width: 100%;
    margin: 15px 0;
    padding: 5px 10px;
}

.col:first-child .input-content {
    position: relative;
}

.col:first-child .placer {
    position: absolute;
    color: rgb(116, 116, 116);
    font-size: 12px;
    font-weight: 400;
    left: 0;
    bottom: 22px;
}

.col:first-child .placer.active {
    top: 5px;
    font-size: 10px;
    transition: .5s ease;
    animation: fadeInUp 0.5s ease;
}

.col:first-child input:focus .placer {
    top: 5px;
    font-size: 12px;
    transition: .5s ease;
    animation: fadeInUp 0.5s ease;
}

.col:first-child button {
    width: 150px;
    padding: 10px 0;
    border: 1px solid #333232;
    background-color: transparent;
    border-radius: 40px;
    font-weight: 500;
}

.col:not(:first-child) h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
}

.col:not(:first-child) p {
    font-size: 13px;
    color: #464545;
    display: flex;
    align-items: center;
}

.col:not(:first-child) p i {
    margin-right: 0.4rem;
    color: #464545;
}

.col:last-child p i {
    font-size: 16px;
}

.credits {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

/* Media Queries */

@media screen and (min-width:1920px) {

    .col:first-child h5 {
        font-size: 30px;
    }
    
    .logo-container img {
        width: 100px;
    }

    .col:first-child p {
        font-size: 25px;
    }

    .col:first-child .placer {
        font-size: 20px;
    }

    .col:first-child .placer.active {
        font-size: 14px;
    }

    .col:first-child input {
        font-size: 20px;
    }

    .col:first-child button {
        font-size: 18px;
    }

    .col:not(:first-child) p {
        font-size: 18px;
    }

    .credits {
        font-size: 18px;
    }

}

@media screen and (max-width: 500px) {
    .footer-content {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
}