
:root {
    --image: url('/background.jpg')
}

.hero-section {
    width: 100%;
    height: fit-content;
    padding: 120px 8% 5% 5%;
    line-height: 4rem;
    background-image: var(--image);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 40%;
    position: relative;
}

.hero-section .iphone {
    position: absolute;
    width: 500px;
    right: 20px;
    bottom: -80px;
    z-index: 1; 
}

.hero-section :where(h2,p){
    animation: fadeInLeft 2s ease;
}

.hero-section h2 {
    font-size: 55px;
}

.hero-section p {
    font-size: 62px;
    font-weight: 600;
}

.hero-section :where(span,p) {
    color: #B50107;
}

.hero-section div {
    padding: 2% 3%;
}

.menu-h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
}

.hero-section button {
    padding: 10px 15px;
    outline: 0;
    border-radius: 0.4rem;
    color: black;
    border: 1px solid #B50107;
    background-color: transparent;
    cursor: pointer;
    animation: fadeInUp 2s ease;
}

.hero-section button:first-child {
    margin-right: 1rem;
    background-color: #B50107;
    color: white;
    border: none;
}

.slider {
    width: 100%;
    height: fit-content;
    padding: 5% 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInDown 2s ease;
}


.slider .bx-chevron-left,.bx-chevron-right {
    font-size: 80px;
}

.slider :where(.bx-chevron-left,.bx-chevron-right):hover {
    scale: 1.5;
}

.slider .bx-chevron-left:hover {
    margin-right: 2rem;
}

.slider .bx-chevron-right:hover {
    margin-left: 2rem;
}

.slider-slides {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 250px;
    overflow-x: scroll; 
    overflow-y: hidden;
    scroll-snap-type: x mandatory; 
    justify-content: center;
}

.slider-slides .cards-container {
    display: flex;
    gap: 60px;
    flex-wrap: nowrap; 
    scroll-snap-type: x mandatory; 
}

.card {
    width: 240px;
    height: auto;
    background-color: gainsboro;
    position: relative;
    overflow: hidden;
    flex: 0 0 auto; 
    scroll-snap-align: start; 
    border-radius: 10px;
}

.card img {
    width: 100%;
    z-index: 0;
    position: relative;
}

.card .food-img {
    width: 240px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
}

.card .info {
    padding: 5% 6%;
    background-color: gainsboro;
    z-index: 99;
}

.card .info i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #707070;
    display: grid;
    place-items: center;
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card:hover .info i {
    transform: rotate(45deg);
}

.card:hover img {
    transform: scale(2);
}

.card h3 {
    font-weight: 600;
    color: #B50107;
    font-size: 20px;
}

.card p {
    font-size: 14px;
}

/* Media Queries */

@media screen and (max-width: 900px) {

    .hero-section h2,
    .hero-section p {
        font-size: 40px;
    }

    .iphone {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .hero-section {
        text-align: center;
        transition: 1s;
        border-radius: 0;
    }
}

@media screen and (max-width: 500px) {

    .hero-section {
        line-height: 2rem;
    }

    .hero-section h2,
    .hero-section p {
        font-size: 30px;
    }
    
}